.contacts {
  padding-top: 16px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 32px;
  }

  &__map {
    position: relative;
    height: 0;
    padding-bottom: 460px;
    overflow: hidden;
    background-image: url('../img/covers/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 4px;

    & iframe {
      @include fw-block;
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
  }

  @include media-min ($md) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @include media-min ($xl) {
    padding-bottom: 80px;

    &__title {
      margin-bottom: 40px;
    }

    &__map {
      margin-bottom: 30px;
      padding-bottom: 500px;
    }

    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media-min ($xxl) {
    padding-top: 20px;

    &__title {
      margin-bottom: 50px;
    }

    &__map {
      padding-bottom: 540px;
    }

    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
