.main-projects {
  padding-top: 70px;
  padding-bottom: 70px;

  &__header {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 32px;
  }

  &__title {
    & span {
      color: var(--accent);
    }
  }

  &__link-wrapper {
    margin-bottom: 24px;
  }

  &__link {
    --btn-offset: 6px 18px;
    --btn-fz: 16px;
    --btn-color: var(--black);
    --btn-bg: var(--white);
    --btn-border: var(--accent);

    & svg {
      margin-left: 15px;
      width: 5px;
      height: 10px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
  }

  @include media-min ($md) {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__link-wrapper {
      margin-bottom: 0;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      & > * {
        &:first-child {
          grid-column: span 2;
        }
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 100px;
    padding-bottom: 100px;

    &__header {
      margin-bottom: 50px;
    }

    &__list {
      & > * {
        &:first-child {
          grid-column: span 1;
          grid-row: span 2;
        }
      }
    }
  }

  @include media-min ($xxl) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
