.main-advantages-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--accent);
  min-height: 88px;
  border-radius: 8px;

  &__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }

  &__text {
    padding-left: 16px;
  }

  @include media-min ($xl) {
    padding: 24px;
    min-height: 140px;

    &__icon {
      width: 60px;
      height: 60px;
    }

    &__text {
      padding-left: 20px;
    }
  }
}
