@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin indent-reset {
  margin: 0;
  padding: 0;
}

@mixin list-reset {
  @include indent-reset;

  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@mixin anim($animation-name, $animation-time) {
  animation-name: $animation-name;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

@mixin cms-text {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

@mixin fw-block {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@mixin no-image {
  background-image: url('../img/sprite.svg#no-image');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
