.slider-controls-btn {
  display: inline-flex;
  color: inherit;
  border-radius: 50%;
  pointer-events: auto;
  overflow: hidden;
  transition: opacity .2s ease-in-out;

  &.swiper-button-disabled {
    opacity: 0;
  }
}
