.news {
  padding-top: 16px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex-basis: 100%;
      margin-bottom: 50px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  @include media-min ($md) {
    &__list {
      margin: -15px;

      & > * {
        max-width: calc(50% - 30px);
        margin: 15px;
      }
    }
  }

  @include media-min ($xl) {
    padding-bottom: 80px;

    &__title {
      margin-bottom: 40px;
    }

    &__list {
      margin: -15px;

      & > * {
        max-width: calc(33.33% - 30px);
        margin: 15px;
      }
    }

    &__pagination {
      margin-top: 60px;
    }
  }

  @include media-min ($xxl) {
    padding-top: 20px;
    padding-bottom: 100px;

    &__title {
      margin-bottom: 50px;
    }
  }
}
