.about-services {
  padding-top: 35px;
  padding-bottom: 35px;

  &__list {
    margin-bottom: -20px;

    & > * {
      margin-bottom: 20px;
    }
  }

  &__item {
    height: 100%;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray-20);
    padding: 24px;
    border-radius: 8px;

    &--accent {
      display: flex;
      align-items: center;
      color: var(--white);
      background-color: var(--accent);
      border-color: var(--accent);
      padding: 30px;

      & span {
        color: var(--black);
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
  }

  &__subtitle {
    margin: 20px 0;
  }

  @include media-min ($md) {
    &__list {
      margin-bottom: -30px;

      & > * {
        margin-bottom: 30px;
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 50px;
    padding-bottom: 50px;

    &__icon {
      width: 60px;
      height: 60px;
    }
  }
}
