.product {
  padding-top: 16px;
  padding-bottom: 70px;

  &__covers {
    margin-bottom: 32px;
  }

  &__content {
    display: grid;
    justify-items: start;
    row-gap: 24px;
    margin-bottom: 50px;
  }

  &__modal-trigger {
    --btn-offset: 16px 28px;
    --btn-fz: 18px;

    font-weight: 500;
    margin-top: 6px;
  }

  @include media-min ($xl) {
    padding-bottom: 80px;

    &__covers {
      margin-bottom: 50px;
    }

    &__content {
      padding-left: 50px;
    }
  }

  @include media-min ($xxl) {
    padding-bottom: 120px;
    padding-top: 20px;
  }
}
