.product-gallery {
  &__title {
    margin-bottom: 24px;
  }

  &__slide {
    position: relative;
    height: 0;
    padding-bottom: 110%;

    & img {
      border-radius: 4px;

      @include fw-block;
    }
  }

  &__pagination {
    --bullet-color: var(--gray-20);
  }

  &__controls {
    display: none;
  }

  @include media-min ($md) {
    &__slide {
      padding-bottom: 362px;
    }
  }

  @include media-min ($xl) {
    &__title {
      margin-bottom: 32px;
    }

    &__slide {
      padding-bottom: 382px;
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: var(--accent);
      padding: 0 10px;
      transform: translateY(-50%);
      z-index: 1;
      pointer-events: none;
    }
  }

  @include media-min ($xxl) {
    &__title {
      margin-bottom: 40px;
    }

    &__slide {
      padding-bottom: 410px;
    }
  }
}
